@use "../base/colors" as colors;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk';
}

body{
     overflow-x: hidden
}


body > header,
body > section,
body > footer {
    padding-inline: 405px;
    background-color: colors.$colors-black;

    @media screen and (max-width: 1440px) {
        padding-inline: 110px;
    }
    @media screen and (max-width: 768px) {
        padding-inline: 32px;
    }
}

